#content{
    margin-left: 24rem;
    margin-top: -3rem;
}

.arrow {
    margin-left: 9.5rem;
    margin-top: 3rem;
}
.headi{
    margin-left: 7rem;
    
    margin-top: 11rem;

}
.main-c {
    margin: 1.5rem;
}

