
.App {
    font-family: sans-serif;
    text-align: center;
    overflow-x: hidden;
  }
  
  .div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
 
    border-radius: 20px;
    background-color: #00008b;
    color: #fff;
    margin: 0 15px;
    font-size: 4em;
  }
  
  .rec.rec-slider-container {
    overflow: visible;
  }

  .main {
    width: 100%;
    padding: 5rem;
    margin-top: -4rem;
  }

  .image {
    height: 400px;
    width: 100%;
    border-radius: 20px;

  }